* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 6vh;
  padding: 3px 3px;
}

main {
  height: 84vh;
}

footer {
  height: 10vh;
}

.icon i {
  font-size: 21px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.space-bt {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.header-gap {
  gap: 5px;
}

.main-gap {
  gap: 10px 5px;
}

.footer-gap {
  gap: 15px;
}

.item-gap {
  gap: 10px;
}

.container {
  width: 1380px;
  height: 84vh;
  padding: 20px 0px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.box-header {
  padding: 4px 3px;
  height: 21px;
}

.box-main {
  width: calc((100% - 30px) / 7);
  height: calc((100% - 40px) / 5);
  position: relative;
  background-image: url(https://picsum.photos/200/300);
  background-size: cover;
}

.box-footer {
  height: 100%;
  padding: 10px 6px;
}

.box-end {
  height: 100%;
  padding: 18px;
}

.user {
  padding: 5px 4px;
  height: 22px;
  width: 42%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bg-color-black {
  background-color: black;
}

.bg-color-white {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-color-opaque {
  background-color: rgba(61, 61, 61, 0.5);
}

.bg-color-grey {
    background-color: #4a4a4a;
}

.text-white {
  color: white;
}

.text-green {
  color: #47c800;
}

.text-red {
  color: red;
}

.rounded-edges {
  border: 1px solid transparent;
  border-radius: 3px;
}

.font-small {
  font-size: 10px;
}

.font-little {
  font-size: 9px;
}
