* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 6vh;
}

main {
  height: 84vh;
}

footer {
  height: 10vh;
}

.ib {
  border: 1px dashed white;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-end {
    justify-content: flex-end;
}

.box {
   padding: 4px 3px;
   height: 21px; 
}

.bg-color-black {
  background-color: black;
}

.bg-color-white {
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-color-opaque {
  background-color: rgba(118, 118, 118, 0.3);
}

.text-white {
  color: white;
}

.rounded-edges {
  border: 1px solid transparent;
  border-radius: 3px;
}
